*, *::before, *::after {
    box-sizing: border-box;
  }

html {
    box-sizing: border-box;
    font-size: 200%;
    
}

body {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    font-family: 'Handjet';
}

h1 {
    color: white;
    
    
}

p {
    color: white;
    font-size: 75%;
    margin: 0;
    
}

h2 {
    color: white;
    font-size: 75%;

}






#weapons-title {
    margin-top: 60px;
}


.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;

    
}

.buttons {
    margin: 20px;
}

.score-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.round-winner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.running-score-section {
    margin: 5px;
}

.icon1, .icon2, .icon3 {
    height: 20%;
    width: 20%;
    vertical-align: middle;
    transition: transform 0.5s;
    transform-origin: center;
    border: 1px solid white;
    padding: 10px;


}

.icon1:hover, .icon2:hover, .icon3:hover, #new-game-button:hover {
    transform: scale(1.2) translateZ(0);
    box-shadow: 0 0 10px 2px rgba(255, 0, 0, 1)
}

#final-winner-content {
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 20px;
}


#new-game-button {
    border-radius: 80px 80px ;
    border: 1px solid white;
    font-family: 'Handjet', cursive;
    font-size: 20px;
    letter-spacing: 2px;
    height: 3vh;
    max-width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}



/*@media screen and (max-width: 600px) {
    h1 {
         
    }

    p {
        
    }

    h2 {
        
        
    }
    
}





